@import 'variable';

@include md {
    .container {
        .hotel-detail {
            .display-imgs {
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
                grid-row-gap: 2rem;
                grid-column-gap: 50px;
                img {
                    width: 100%;
                    display: block;
                }
            }
            .single-hotel-info {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2rem;
                margin: 2rem auto;
                font-size: 20px;
                .desc {
                    h3 {
                        color: $Pcolor;
                    }
                    p {
                        margin-top: 15px;
                        line-height: 1.5em;
                    }
                }
                .info {
                    padding-left: 40px;
                    h3 {
                        color: $Pcolor;
                    }
                    .stars {
                        margin-top: 15px;
                        display: flex;
                        margin-bottom: 1.5em;
                        svg {
                            color: $Pcolor;
                        }
                        span {
                            margin-left: 5px;
                        }
                    }
                    p {
                        margin-bottom: 1.5em;
                    }
                    .amenities {
                        margin-bottom: 1.5em;
                        span {
                            padding: 6px 10px;
                            border: 2px solid #ff690f;
                            border-radius: 25px;
                            margin-right: 5px;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }
}